.hide {
  display: none !important;
}

.bg-light-blue {
  background-color: $light-grayish-blue;
}

section {
  padding: 5rem;
}

.content {
  padding-top: 15rem;
}

.text-mute {
  color: $grayish-blue;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 1.5rem 0;
}

h1 {
  color: $dark-blue;
  font-size: 3rem;
  font-weight: 300;
}

.page-header {
  margin-bottom: 3rem;
}

h2 {
  color: $dark-blue;
  font-size: 2.2rem;
  font-weight: 300;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}
